@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

html {
    font-family: 'Karla', sans-serif;
    background: rgb(5, 5, 5);
    color: white;
}

#container {
    text-align: center;
    position: absolute;
    left: 7.5vw;
    top: 50%;
    transform: translateY(-50%);
    border: solid 0.25vw;
    border-radius: 1vw;
}

#equation {
    position: absolute;
    left: 55vw;
    top: 5vw;
    font-size: 5vw;
}

#slope {
    position: absolute;
    left: 55vw;
    top: 11vw;
    font-size: 2vw;
}

#vertex {
    position: absolute;
    left: 55vw;
    top: 18vw;
    font-size: 2vw;
}